{% extends 'base.html' %}
{% load static %}

{% block main %}

<div>
    {% if encontrados %}
    <ul class="list-group full-w">
        {% for encontrado in encontrados %}
        {% if encontrado.id != user.perfil.id %}
        {% if encontrado in user.perfil.contatos.all %}

        <div class="row border rounded mb-3 py-2 px-2 bg-white">
            <div class="col col-md-3 py-5"
                style="background:  {% if encontrado.imagem_perfil %} url('/media/{{ encontrado.imagem_perfil }}') {% else %} url('{% static 'media/img/user.png' %}') {% endif %} ;
                        background-position: center;
                        background-size: cover;
                        border-radius: 5px;"></div>
            <div class="col col-md-9 bg-white py-4">
                <p>{{ encontrado.nome }}</p>
                <div>
                    <a href="{% url 'exibir' encontrado.id %}" class="btn btn-info">Acessar</a>
                </div>
            </div>
        </div>
        {% else %}

        <div class="row border rounded mb-3 py-2 px-2 bg-white">
            <div class="col col-md-3 py-5"
            style="background:  {% if encontrado.imagem_perfil %} url('/media/{{ encontrado.imagem_perfil }}') {% else %} url('{% static 'media/img/user.png' %}') {% endif %};
            background-position: center;
            background-size: cover;
            border-radius: 5px;"    >
            </div>
            <div class="col col-md-9 bg-white py-4">
                <p>{{ encontrado.nome }}</p>
                <div>
                    <a href="{% url 'exibir' encontrado.id %}" class="btn btn-info">Acessar</a>
                    <a href="{% url 'convidar' encontrado.id %}" class="btn btn-success">Enviar solicitação</a>
                </div>
            </div>
        </div>

        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>

    {% else %}
    <div class="full-w alert alert-warning text-center">
        <h2>Nenhum resultado encontrado</h2>
    </div>
    {% endif %}
</div>


{% endblock %}