{% extends 'base.html' %}
{% load static %}
{% block main %}

<!-- Área para novas postagens -->
    <div class="container bg-white py-3 border rounded">
        <form method="POST" action="{% url 'postagem' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="titulo" class="form-control" placeholder="Titulo"><br>
            <textarea name="texto" class="form-control" rows="3" placeholder="Escreva o que quiser"></textarea><br>
            <input name="imagem" type="file" class="form-control-file"><br>
            <button class="btn btn-primary full-w">Postar</button>
        </form>
    </div>

    {% if timeline %}
        {% for post in timeline %}
        <div class="card post-index my-4" style="max-width: 100%;">
            <div class="no-gutters">
                <div class="card-header" style="{% if post.perfil.imagem_capa %} background: url('/media/{{ post.perfil.imagem_capa }}'); {% else %} background: url('{% static '/media/img/bg01.jpg' %}'); {% endif %} 
                                                background-repeat: no-repeat;
                                                background-size: cover; 
                                                background-position: center;">
                    <img src="{% if post.perfil.imagem_perfil %} /media/{{ post.perfil.imagem_perfil }} {% else %} {% static '/media/img/user.png' %} {% endif %}" 
                            width="100" 
                            alt="Usuário" 
                            class="img-thumbnail">
                    <p class="text-white">{{ post.perfil.nome }}</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.titulo }}</h5>
                    <p class="card-text">
                        {{ post.text }}
                        {% if post.imagem %}
                        <img src="/media/{{ post.imagem }}" alt="Post imagem" class="img-fluid full-w border rounded mt-2">
                        {% endif %}
                    </p>
                    <p class="card-text"><small class="text-muted">{{ post.data_postagem }}</small>
                    {% if perfil_logado.usuario.is_superuser %}
                    <a class="btn btn-danger text-white float-right" href="{% url 'delete_postagem' post.id %}">Deletar</a>
                    {% endif %}
                    {% if post.perfil == perfil_logado %}
                    <a class="btn btn-danger text-white float-right" href="{% url 'delete_postagem' post.id %}">Deletar</a>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    <!-- Paginação -->
    <!-- <div class="center-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div> -->


{% endblock %}