{% extends 'base.html' %}

{% block title %}Postagem{% endblock %}
{% block main %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input class="form-control" name="titulo" id="titulo" placeholder="Titulo da postagem">
        </div>

        <div class="form-group">
            <label for="texto">Texto</label>
            <textarea class="form-control" name="texto" id="texto" placeholder="Digite o seu post"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Postar</button>

    </form>
</div>


{% endblock %}